header .sticky{
   position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  z-index:1;
}
header .AboutUsTitle{
  padding: 150px;
  
    
    
}
header .AboutUsTitle .about{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    
}
header .AboutUs{
    font-size: 4rem;
}
header .AboutUs p{
    font-size: 1rem;
  
}
div .servise_head p{
    font-size: 3rem;
}
.servise{
    background-color: #e2fffe;
    margin-bottom: 150px;
}
.our_services .card{
     background-color: #e2fffe;
    border:none;
}
.our_services .card i{
    font-size: 6rem;
}
.works p{
    font-size: 3rem;
}
.our_works {
    margin-bottom: 150px;
}
.our_works .card{
    border:none;
}

.team{
    margin-bottom: 150px;
}
#team {
    font-size: 3rem;
}